/* _global contains elements seen all across the site */
@import url(_global.css);

/* _home contains elements relevant only to the home page */
@import url(_home.css); 

.subject {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #0E0E0C;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

.subject:nth-of-type(even) {
    flex-direction: row-reverse;
    background-color: #383A51;
}

.subject_img {
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    height: 100%;
}

.subject_text{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    align-content: center;
}